.img-responsive.round{
  width: 256px;
}

header {
  background: url("../img/heroimg1.jpg");
  /* background-position: center; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #6474ed;
}

#about_pws{
  padding: 25px;
}

#about_pws a{
  color: black;
}
.row.img{
  padding: 20px;
}

.link{
  color:white;
}
