.img-responsive.round{
  width: 256px;
}

header {
  background: url("../img/heroimg1.jpg");
  /* background-position: center; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #6474ed;
}

#about_pws{
  padding: 25px;
}

#about_pws a{
  color: black;
}
.row.img{
  padding: 20px;
}

.link{
  color:white;
}

#breathing-button {
    padding: 20px;
    border: 1px solid #d1d1d1;
    -webkit-animation: breathing 7s ease-out infinite normal;
    animation: breathing 7s ease-out infinite normal;
    font-size: 24px;
    background: #5885cb;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    border-radius: 30px;
    text-align: center;
    }


@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.pdf{
  height: 100vh;
}
